.img1 {
  background-image: url(https://www.drivespark.com/img/2018/02/rent-a-bike-at-most-metro-stations-in-bangalore2-1519188283.jpg);
  background-size: cover;
  padding: 20%;
}

.img2 {
  background-image: url(https://ychef.files.bbci.co.uk/live/624x351/p014kc76.jpg);
  background-size: cover;
  padding: 20%;
}

.img3 {
  background-image: url(https://live.staticflickr.com/65535/48880444927_64a3d3c655_b.jpg);
  background-size: cover;
  padding: 20%;
}