
@media only screen and (max-width: 760px ) {

  .img1 {
    background-size: cover;
    padding: 40%;
    height: 100%;
  }
}

@media only screen and (min-width: 1200px ) {

  .img1 {
    background-size: cover;
    padding: 20%;
  }
}