.stationComponentAdmin {
    background-color: rgb(158, 192, 255);
}

.stationsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stationsDivMap {
    height: 400px;
    width: 400px;
    margin: 2%;
    background-color: rgb(188, 234, 255);
}

.stationDescr {
    text-align: center;
    font-size: 140%;
    font-family: Arial, Helvetica, sans-serif;
}
