 @media only screen and (max-width: 760px ) {    
    .principalMain {
        gap: 10px;
    }
    
    .userLoged {
        width: 45%;
        margin-left: 3% ;
        border-radius: 4px;
    }
    .logo-header {
        width: 40px;
        margin: 40%;
    }
    .logo-header {
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0px 0px 4px #5f5f5f,
            0px 0px 0px 2px #ecf0f3,
            8px 8px 15px #a7aaa7,
            -8px -8px 15px #fff;
    }
    .avatar {
        width: 45%;
        height: 45%;
        border-radius: 50%;        
    }
    .button-navbar {
        margin: 2%;
    }
    .navbar-toggler-icon {
        font-size: 15px;
    }
    .defaultUser {
        font-size: 40px;
    }
    .iconLogout, .iconAlert {
        font-size: 20px;
    }

    .iconAlertWhite {
        color: white;
    }
    
}
@media only screen and (min-width: 1200px ) {     
    .principalMain {
        gap: 350px;
    }
    
    .userLoged {
        width: 50%;
        margin-left: 45%;
        border-radius: 4px;
    }
    .logo-header {
        width: 30%;
        margin: 4%;
    }

    .defaultUser {
        font-size: 100px;
    }
    
    .avatar {
        width: 45%;
    }
    .iconAlert {
        font-size: 25px;
    }

    .iconAlertWhite {
        color: white;
    }
}
/*
@media only screen and (max-width: 1900px ) {
    .principalMain {
        gap: 180px;
    }
    .infor {
        font-size: 20px;
        gap: 130px;
    }
    .logo {
        width: 18%;
    }
    
    .avatar {
        width: 20%;
    }
    
}


.headerComponent {
    background-color: rgb(244, 249, 250);
    padding: 2%;
}

.header_decoration{
    text-decoration: none;
    color: black;
}

.header_decoration:hover {
    color: gray;
}

.principalMain {
    display: flex;
    flex-direction: row;
}

.infor {
    display: flex;
    flex-direction: row;
    text-align: center;
} */

