@media only screen and (max-width: 1900px ) {
    .principalMain {
        gap: 100px;
    }
    .infor {
        font-size: 20px;
        gap: 130px;
    }
    
}
@media only screen and (max-width: 760px ) {    
    .principalMain {
        gap: 35px;
    }
    
    .infor {
        font-size: 20px;
        gap: 80px;
    }

}

@media only screen and (min-width: 1900px ) {     
    .principalMain {
        gap: 350px;
    }
    
    .infor {
        font-size: 30px;
        gap: 270px;
    }
}

.headerComponent {
    background-color: rgb(244, 249, 250);
    padding: 2%;
}

.header_decoration{
    text-decoration: none;
    color: black;
}

.header_decoration:hover {
    color: gray;
}

.principalMain {
    display: flex;
    flex-direction: row;
}

.infor {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.logo {
    width: 58%;
}

.avatar {
    width: 60%;
}