@media only screen and (max-width: 600px)
{
    .image_place {
        width: 10%;
    }
    .imglogoabout {
        width: 100%;
    }
    .info {
        width: 100%;
        flex-direction: row !important;
    }
    .layer {
        width: 40%;
        padding: 1.5%;
        margin: 5%;
        text-align: center;
    }
    .layer div {
        width: 80%;
    }
    .text {
        width: 40%;
        padding: 1.5%;
        margin: 5% 0%;
    }
    .text div {
        width: 75%;
    }
    .text div div {
        width: 100%;
        height: 300px;
    }
}

@media only screen and (min-width: 1200px )
{
    .image_place {
        width: 85%;
    }
    .aboutPage {
        width: 100%;
        display: flex;
        flex-direction: column
    }
    .imglogoabout {
        width: 10%;
    }
    .layer {
        width: 25%;
        margin: 5%;
    }
    .text {
        width: 50%;
        padding: 1.5%;
        margin: 5%;
    }
}

.image_place {
    margin: 2%;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5%;
}

.text {
    background-color: grey !important;
    color: white;
}

.active {
    background-color: grey !important;
    border: 2px solid gray !important;
}

.layer div a {
    padding: 2.5%;
}